<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/output.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <title><%= name %> | Calisthenics zone</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
      body {
        background-color: #0f140f;
        /* opacity: 0.25; */
        background-image: radial-gradient(#007a021a 1px, transparent 1px),
          radial-gradient(#007a021a 1px, #0f140f 1px);
        background-size: 10px 10px;
        background-position: 0 0, 20px 2px;
        font-family: "VT323", monospace;
        color: white;
      }
    </style>
  </head>
  <body class="">
    <%- include('./components/header.ejs') %>
    <div
      class="CONTENT z-40 p-[1.75rem] flex flex-col justify-center items-center mx-auto px-5 max-w-xl md:max-w-4xl lg:max-w-5xl md:flex-row md: gap-8 md:items-start"
    >
      <div class="max-w-md justify-self-stretch w-full">
        <div class="flex w-full gap-1 mb-2">
          <% categories.map(category => { %> <%-
          include('./components/categoryTag.ejs', {category: category}) %> <%
          })%>
        </div>
        <div
          class="w-full aspect-square MatrixBoxEffectGrey bg-darkSurface-a30 bg-opacity-30 mb-3 justify-self-center md:max-w-md"
        ></div>
        <p
          class="max-w-xl w-full h-fit MatrixBoxEffectGrey bg-darkSurface-a30 bg-opacity-30 text-3xl p-3 MatrixTextEffectWhiteLow mb-3"
        >
          <%= name %>
        </p>
        <div
          class="max-w-xl w-full h-fit  bg-opacity-30 text-3xl p-3 MatrixTextEffectWhiteLow <%= difficulty %>Tag"
        >
          Difficulty: <% if (difficulty === "Advanced") { %>
          <span class="glitch-wrapper">
            <span
              class="glitch tracking-widest"
              data-glitch="<%= difficulty %>"
            >
              <%= difficulty %>
            </span>
          </span>
          <% } else { %> <%= difficulty %> <% } %>
        </div>
      </div>

      <div class="md:mt-11 ">
        <p
          class="max-w-xl w-full h-fit MatrixBoxEffectGrey bg-darkSurface-a30 bg-opacity-30 text-lg p-3 MatrixTextEffectWhiteLow tracking-wider mb-11 lg:text-xl"
        >
          <%= exercise.description %>
        </p>

        <iframe class="w-full h-96 mb-7" src="<%= embed %>"> </iframe>

        <div class="w-full flex flex-col gap-3 mb-11">
          <button
            class="w-full h-9 md:h-12 MatrixBoxEffectWhiteLow relative items-center DeleteButton text-center MatrixTextEffectWhiteLow text-2xl cursor-pointer"
          >
            Delete Exercise
          </button>
          <button
            class="w-full h-9 md:h-12 EditButton relative items-center text-center MatrixTextEffectWhiteLow text-2xl cursor-pointer"
          >
            Edit Exercise
          </button>
        </div>

        <% if (!!prereqName) { %>
        <a
          class="flex MatrixBoxEffectGrey w-full bg-darkSurface-a30 bg-opacity-30 items-center cursor-pointer"
          href="/exercise/<%= prereqID %>"
        >
          <div class="bg-black w-[35%] aspect-square"></div>
          <div class="flex flex-col w-[65%] justify-center items-center">
            <p class="MatrixTextEffectWhiteLow text-3xl">Prerequisite:</p>

            <p class="MatrixTextEffectWhiteLow text-2xl"><%= prereqName %></p>
          </div>
        </a>
        <% } %>
      </div>
    </div>
  </body>
</html>
