<% const animation = "animate__fadeIn" %> <% const animationSpeed =
"animate__faster" %> <% const animationDelay = 75 %> <% let animationDelaySave =
0 %> <% const getDelay = (delay) => { animationDelaySave += delay; return
animationDelaySave; } %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/output.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <title><%= name %> | Calisthenics Matrix</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
      body {
        background-color: #0f140f;
        /* opacity: 0.25; */
        background-image: radial-gradient(#007a021a 1px, transparent 1px),
          radial-gradient(#007a021a 1px, #0f140f 1px);
        background-size: 10px 10px;
        background-position: 0 0, 20px 2px;
        font-family: "VT323", monospace;
        color: white;
      }
    </style>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
  </head>
  <body class="">
    <%- include('./components/header.ejs') %>
    <div
      class="CONTENT z-40 p-[1.75rem] flex flex-col justify-center items-center mx-auto px-5 max-w-xl md:max-w-4xl lg:max-w-5xl md: gap-8 md:items-start md:grid md:grid-cols-2"
    >
      <% if (error) {%>

      <p
        class="w-full h-fit MatrixBoxEffectGrey ErrorTag bg-darkSurface-a30 bg-opacity-30 text-2xl md:text-3xl p-3 MatrixTextEffectWhiteLow mb-3 col-span-2"
      >
        Wrong Password. Admin controls require the correct admin password.
      </p>
      <%}%>
      <div class="max-w-md justify-self-stretch w-full">
        <div class="flex w-full gap-1 mb-2">
          <% categories.map(category => { %> <%-
          include('./components/categoryTag.ejs', {category: category}) %> <%
          })%>
        </div>
        <div
          class="w-full aspect-square MatrixBoxEffectGrey bg-darkSurface-a30 bg-opacity-30 mb-3 justify-self-center md:max-w-md bg-cover bg-center"
          style="
            background-image: url('<%= imgUrl %>');
            filter: grayscale(1) brightness(0.75);
          "
        ></div>
        <p
          class="max-w-xl w-full h-fit MatrixBoxEffectGrey bg-darkSurface-a30 bg-opacity-30 text-3xl p-3 MatrixTextEffectWhiteLow mb-3"
        >
          <%= name %>
        </p>
        <div
          class="max-w-xl w-full h-fit bg-opacity-30 text-3xl p-3 MatrixTextEffectWhiteLow <%= difficulty %>Tag"
        >
          Difficulty: <% if (difficulty === "Advanced") { %>

          <span class="glitch tracking-widest" data-glitch="<%= difficulty %>">
            <%= difficulty %>
          </span>

          <% } else if (difficulty === "Expert"){ %>

          <span
            class="glitch-expert tracking-widest uppercase"
            data-glitch-expert="<%= difficulty %>"
          >
            <%= difficulty %>
          </span>

          <% } else { %> <%= difficulty %> <% } %>
        </div>
      </div>

      <div class="md:mt-11">
        <p
          class="max-w-xl w-full h-fit MatrixBoxEffectGrey bg-darkSurface-a30 bg-opacity-30 text-lg p-3 MatrixTextEffectWhiteLow tracking-wider mb-11 lg:text-xl animate__animated <%= animation%> <%= animationSpeed%>"
          style="animation-delay: <%= getDelay(animationDelay) %>ms"
        >
          <%= exercise.description %>
        </p>

        <iframe
          class="w-full aspect-video mb-7 animate__animated <%= animation%> <%= animationSpeed%>"
          style="animation-delay: <%= getDelay(animationDelay) %>ms"
          src="<%= embed %>"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>

        <div class="w-full flex flex-col gap-3 mb-11">
          <button
            class="w-full h-9 md:h-12 MatrixBoxEffectWhiteLow relative items-center DeleteButton text-center MatrixTextEffectWhiteLow text-2xl cursor-pointer animate__animated <%= animation%> <%= animationSpeed%>"
            style="animation-delay: <%= getDelay(animationDelay) %>ms"
            id="deleteExerciseButton"
          >
            Delete Exercise
          </button>
          <div
            class="<%= editAuth ? '' : 'hidden' %> fixed z-40 w-screen h-screen bg-[#00000078] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 backdrop-blur-sm animate__animated animate__faster"
            id="blackScreen"
          ></div>
          <form
            class="hidden fixed z-50 w-[90%] max-w-2xl rounded-sm h-fit py-6 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 MatrixBoxEffectGrey bg-[#696969f1] flex flex-col gap-6 p-4 animate__animated animate__faster"
            action="/exercise/<%= index %>/delete"
            method="POST"
            name="deleteForm"
            id="deleteForm"
          >
            <label
              class="text-2xl md:text-4xl text-center MatrixTextEffectWhiteLow flex flex-col gap-3"
            >
              Enter admin password to delete
              <input
                class="text-2xl md:text-3xl pl-4 py-2 bg-[#3737373b] w-full MatrixBoxEffectGreyHigh selectionHoverLow transition"
                placeholder="Admin password..."
                name="adminPassword"
                id="adminPassword"
                required
              />
            </label>
            <div class="flex gap-2">
              <button
                type="button"
                class="w-full h-9 md:h-12 EditButton relative items-center text-center MatrixTextEffectWhiteLow text-xl md:text-2xl cursor-pointer animate__animated <%= animation%> <%= animationSpeed%>"
                style="animation-delay: <%= getDelay(animationDelay) %>ms"
                id="formCancelButton"
              >
                Cancel</button
              ><button
                type="submit"
                class="w-full h-9 md:h-12 MatrixBoxEffectWhiteLow relative items-center DeleteButton text-center MatrixTextEffectWhiteLow text-xl md:text-2xl cursor-pointer animate__animated <%= animation%> <%= animationSpeed%>"
                style="animation-delay: <%= getDelay(animationDelay) %>ms"
              >
                Delete Exercise
              </button>
            </div>
          </form>

          <button
            class="w-full h-9 md:h-12 EditButton relative items-center text-center MatrixTextEffectWhiteLow text-2xl cursor-pointer animate__animated <%= animation%> <%= animationSpeed%>"
            style="animation-delay: <%= getDelay(animationDelay) %>ms"
            id="editExerciseButton"
          >
            Edit Exercise
          </button>
          <form
            class="hidden fixed z-50 w-[90%] max-w-2xl rounded-sm h-fit py-6 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 MatrixBoxEffectGrey bg-[#696969f1] flex flex-col gap-6 p-4 animate__animated animate__faster"
            action="/exercise/<%= index %>/edit"
            method="POST"
            name="editFormAuth"
            id="editFormAuth"
          >
            <label
              class="text-2xl md:text-4xl text-center MatrixTextEffectWhiteLow flex flex-col gap-3"
            >
              Enter admin password to edit
              <input
                class="text-2xl md:text-3xl pl-4 py-2 bg-[#3737373b] w-full MatrixBoxEffectGreyHigh selectionHoverLow transition"
                placeholder="Admin password..."
                name="adminPassword"
                id="adminPassword"
                required
              />
            </label>
            <div class="flex gap-2">
              <button
                type="button"
                class="w-full h-9 md:h-12 EditButton relative items-center text-center MatrixTextEffectWhiteLow text-xl md:text-2xl cursor-pointer animate__animated <%= animation%> <%= animationSpeed%>"
                style="animation-delay: <%= getDelay(animationDelay) %>ms"
                id="formCancelButton"
              >
                Cancel</button
              ><button
                type="submit"
                class="w-full h-9 md:h-12 MatrixBoxEffectWhiteLow relative items-center MediumTag text-center MatrixTextEffectWhiteLow text-xl md:text-2xl cursor-pointer animate__animated <%= animation%> <%= animationSpeed%>"
                style="animation-delay: <%= getDelay(animationDelay) %>ms"
              >
                Edit Exercise
              </button>
            </div>
          </form>

          <%if(editAuth){%>
          <form
            class="fixed z-50 w-[90%] max-w-2xl rounded-sm h-[80vh] overflow-auto py-6 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 MatrixBoxEffectGrey bg-[#696969f1] flex flex-col gap-6 p-4 animate__animated animate__faster"
            action="/exercise/<%= index %>/edit"
            method="POST"
            name="editForm"
            id="editForm"
          >
            <h3
              class="text-2xl md:text-4xl text-center MatrixTextEffectWhiteLow flex flex-col gap-3"
            >
              Editing <%= name %>
            </h3>
            <input
              class="editInput text-2xl md:text-3xl pl-4 py-2 bg-transparent w-full MatrixBoxEffectGreyHigh selectionHoverLow transition"
              placeholder="Exercise name..."
              name="exerciseName"
              id="exerciseName"
              value="<%= name %>"
              required
            />
            <input
              class="editInput text-2xl md:text-3xl pl-4 py-2 bg-transparent w-full MatrixBoxEffectGreyHigh selectionHoverLow transition"
              placeholder="Exercise description..."
              name="exerciseDescription"
              id="exerciseDescription"
              value="<%= exercise.description %>"
              minlength="64"
              maxlength="250"
              required
            />
            <input
              class="editInput text-2xl md:text-3xl pl-4 py-2 bg-transparent w-full MatrixBoxEffectGreyHigh selectionHoverLow transition"
              type="url"
              pattern="^((?:https?:)?\/\/)?((?:www|m)\.)?((?:youtube\.com|youtu.be))(\/(?:[\w\-]+\?v=|embed\/|v\/)?)([\w\-]+)(\S+)?$"
              placeholder="Youtube video url..."
              oninvalid="this.setCustomValidity('pattern: https://www.youtube.com/watch?v=[videoID]')"
              oninput="this.setCustomValidity('')"
              value="<%= embed %>"
              name="exerciseVideoUrl"
              id="exerciseVideoUrl"
              required
            />

            <div class="CATEGORIES MatrixBoxEffectGreyHigh p-4">
              <h3 class="text-2xl md:text-3xl mb-3 text-[rgb(155,163,175)]">
                Select categories (1 required)
              </h3>
              <ul class="grid w-full gap-6 md:grid-cols-2">
                <% allCategories.map((category) =>{ %> <%-
                include('./components/optionCheckBox.ejs', {option:
                category.name, value: category.id, filterType: "category",
                checked: categories.includes(category.name)}) %> <%})%>
              </ul>
            </div>
            <!-- okay, now make the black screen come up on the edit form -->
            <div class="DIFFICULTY MatrixBoxEffectGreyHigh p-4">
              <h3 class="text-2xl md:text-3xl mb-3 text-[rgb(155,163,175)]">
                Select difficulty
              </h3>
              <ul class="grid w-full gap-6 md:grid-cols-2">
                <% allDifficulties.map(_difficulty =>{ %>
                <%-include('./components/optionRadio.ejs', {option:
                _difficulty.name, value: _difficulty.id, filterType:
                "difficulty", checked: _difficulty.name === difficulty}) %>
                <%})%>
              </ul>
            </div>
            <label
              class="text-2xl md:text-3xl text-center MatrixTextEffectWhiteLow flex flex-col gap-3"
            >
              Enter admin password to edit
              <input
                class="text-2xl md:text-3xl pl-4 py-2 bg-[#3737373b] w-full MatrixBoxEffectGreyHigh selectionHoverLow transition"
                placeholder="Admin password..."
                name="adminPassword"
                id="adminPassword"
                required
              />
            </label>
            <div class="flex gap-2">
              <button
                type="button"
                class="w-full h-9 md:h-12 EditButton relative items-center text-center MatrixTextEffectWhiteLow text-xl md:text-2xl cursor-pointer animate__animated <%= animation%> <%= animationSpeed%>"
                style="animation-delay: <%= getDelay(animationDelay) %>ms"
                id="formCancelButton"
              >
                Cancel</button
              ><button
                type="submit"
                class="w-full h-9 md:h-12 MatrixBoxEffectWhiteLow relative items-center MediumTag text-center MatrixTextEffectWhiteLow text-xl md:text-2xl cursor-pointer animate__animated <%= animation%> <%= animationSpeed%>"
                style="animation-delay: <%= getDelay(animationDelay) %>ms"
              >
                Edit Exercise
              </button>
            </div>
          </form>

          <%}%>
        </div>

        <% if (!!prereqName) { %>
        <a
          class="flex MatrixBoxEffectGrey w-full bg-darkSurface-a30 bg-opacity-30 items-center cursor-pointer animate__animated <%= animation%> <%= animationSpeed%>"
          style="animation-delay: <%= getDelay(animationDelay) %>ms"
          href="/exercise/<%= prereqID %>"
        >
          <div
            class="bg-black w-[35%] aspect-square bg-cover bg-center"
            style="
              background-image: url('<%= prereqImgUrl %>');
              filter: grayscale(1) brightness(0.75);
            "
          ></div>
          <div class="flex flex-col w-[65%] justify-center items-center">
            <p class="MatrixTextEffectWhiteLow text-3xl">Prerequisite:</p>

            <p class="MatrixTextEffectWhiteLow text-2xl"><%= prereqName %></p>
          </div>
        </a>
        <% } %>
      </div>
    </div>

    <script>
      const deleteExerciseButton = document.getElementById(
        "deleteExerciseButton"
      );
      const editExerciseButton = document.getElementById("editExerciseButton");
      const formCancelButtons = document.querySelectorAll("#formCancelButton");
      const blackScreen = document.getElementById("blackScreen");
      const deleteForm = document.getElementById("deleteForm");
      const editFormAuth = document.getElementById("editFormAuth");
      const editForm = document.getElementById("editForm");

      deleteExerciseButton.addEventListener("click", (e) => {
        [blackScreen, deleteForm].forEach((x) => {
          x.classList.add("animate__fadeIn");
          x.classList.remove("animate__fadeOut", "hidden");
        });
      });

      editExerciseButton.addEventListener("click", (e) => {
        [blackScreen, editFormAuth].forEach((x) => {
          x.classList.add("animate__fadeIn");
          x.classList.remove("animate__fadeOut", "hidden");
        });
      });

      [Array.from(formCancelButtons), blackScreen].flat().forEach((y) => {
        y.addEventListener("click", (e) => {
          [blackScreen, deleteForm, editFormAuth, editForm].forEach((x) => {
            if (!x.classList.contains("hidden")) {
              x.classList.add("animate__fadeOut");
              x.classList.remove("animate__fadeIn");
              x.addEventListener(
                "animationend",
                () => {
                  x.classList.add("hidden");
                },
                { once: true }
              );
            }
          });
        });
      });

      // newExerciseScript
      const inputs = document.querySelectorAll(".editInput");

      inputs.forEach((input) => {
        input.addEventListener("keyup", (e) => {
          if (e.target.value !== "") {
            e.target.classList.add("selectionHoverManual");
          } else {
            e.target.classList.remove("selectionHoverManual");
          }
        });
      });

      const checkedBoxesLen = document.querySelectorAll(
        "input[type=checkbox]:checked"
      ).length;
      const checkedBoxesLis = document.querySelectorAll(".optionCheckBox");
      checkedBoxesLis.forEach((li) => {
        const input = li.querySelector("input");
        const label = li.querySelector("label");
        if (input.checked) label.classList.toggle("selectionHoverManual");
        input.addEventListener("change", (e) => {
          label.classList.toggle("selectionHoverManual");
          checkedBoxesLen = document.querySelectorAll(
            "input[type=checkbox]:checked"
          ).length;
        });
      });

      let radioChecked = true;
      const radios = document.querySelectorAll(".optionRadio");
      const resetRadioLabels = () => {
        const ls = document.querySelectorAll(".optionRadio label");
        ls.forEach((l) => l.classList.remove("selectionHoverManual"));
      };
      radios.forEach((li) => {
        const input = li.querySelector("input");
        const label = li.querySelector("label");

        if (input.checked) label.classList.toggle("selectionHoverManual");

        input.addEventListener("change", (e) => {
          radioChecked = true;
          input.checked = true;
          resetRadioLabels();
          label.classList.toggle("selectionHoverManual");
        });
      });

      const descriptionInputLength = document.getElementById(
        "exerciseDescription"
      ).value.length;

      const form = document.querySelector("form");
      form.addEventListener("submit", (e) => {
        if (!checkedBoxesLen) {
          e.preventDefault();
          alert("Select at least one category");
        } else if (!radioChecked) {
          e.preventDefault();
          alert("Select a difficulty");
        } else if (
          descriptionInputLength > 63 &&
          descriptionInputLength < 129
        ) {
          e.preventDefault();
          alert("Description must be between 64 and 128 characters");
        }
      });
    </script>
  </body>
</html>
